APP_NAME="bitnix"
VERSION="1.0.0"

HTTP_PORT="9090"

DSN="postgres://[db_username]:[db_password]@localhost/[db_name]"
MAX_OPEN_CONNS=40
MAX_IDLE_CONNS=40
MAX_IDLE_LIFE_TIME="15m"
CLOUDINARY_URL="cloudinary://<api_key>:<api_secret>@<cloud_name>"
SUPABASE_PROJECT_REF="supabase-project-reference"
SUPABASE_API_KEY="supabase-api-key (prefered to use the one with service_role to avoid restrictions)"
SUPABASE_BUCKET="bucket storage name"
